@model List<IndexViewModel.PaymentBenefitsViewModel>

@foreach (var paymentBenefit in Model)
{

    <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="shipping-item">
            <div class="shipping-img">
                <img src="~/@paymentBenefit.ImageUrl"
                 alt="@paymentBenefit.ImageName" />
            </div>
            <div class="shipping-content">
                <h2 class="title">@paymentBenefit.Name</h2>
                <p class="short-desc mb-0">@paymentBenefit.Content</p>
            </div>
        </div>
    </div>
}   